/* CSS Stylesheet for the application goes here */

#histogram-container {
  margin: 0;
  width: 100vw;
  padding: 0;
  background: white;
}

#histogram {
    width: 100vw;
    height: 300px;
    margin: 0;
}


/* Grid Layout (Mobile First) */
#content {
    position: fixed;
    top: 58px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #63A0DD;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 1fr;
}

#content .group {
  grid-column-start: 1;
  grid-column-end: 2;
}

#content .group.timer {
  grid-row-start: 1;
  grid-row-end: 2;
}
#content .input {
  grid-row-start: 2;
  grid-row-end: 3;
}
#content .buttons {
  grid-row-start: 3;
  grid-row-end: 4;
}
#content .info {
  grid-row-start: 4;
  grid-row-end: 5;
}
#content #histogram-container {
  grid-row-start: 5;
  grid-row-end: 6;
}

@media screen and (max-width: 769px) and (max-height: 630px) {
  #content .group {
    font-size: 12px;
  }
  #content .group h2 {
    font-size: 14px;
  }
  #content .group.buttons {
    margin-bottom: 0px;
  }
  #content .group label {
    margin-bottom: 0px;
  }
  #content .group input, #content .group select {
    font-size: 12px;
  }
  #content .group#info td {
    padding: 3px;
  }
}

@media screen and (min-width: 555px) and (max-width: 769px) {
  #content {
    grid-template-columns: auto 1fr;
    grid-
    grid-template-rows: auto auto auto 1fr;
  }

  #content .group {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #content .group.timer {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #content .input {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: start;
    margin-left: 5px;
  }
  #content .buttons {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #content .info {
    grid-row-start: 3;
    grid-row-end: 4;
    just-self: center;
  }
  #content #histogram-container {
    grid-row-start: 5;
    grid-row-end: 6;
  }
}


@media screen and (min-width: 770px) {
  #content {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto 1fr;
  }

  #content .group {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #content .timer {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #content .input {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: start;
    margin-left: 5px;
  }
  #content .info {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    justify-self: end;
  }
  #content .buttons {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #content #histogram-container {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}






#content .buttons {
  margin-bottom: 12px;
}
#content button {
  -webkit-display: none;
  color: white;
  border: 0;
  font-size: 1.2em;
  width: 116px;
  margin-left: 12px;
  margin-top: 8px;
  cursor: pointer;
  transition: background 0.2;
  background: rgba(0,0,0,0.25);
}
#content button:hover {
    background: rgba(0,0,0,0.4);
}

#info {
  /* width: 265px; */
  /* height: 139px; */
  /*   border-left: 2px solid #508CC8; */
  padding: 6px;
  color: #444;
}
#info td {
  padding: 6px;
}
#info td:first-child {
  font-weight: bold;
}
#info td:nth-child(2) {
  min-width: 100px;
  text-align: right;
}

.group label {
  width: 116px;
  padding: 0;
  padding-left: 12px;
  margin-bottom: 12px;
  display: inline-block;
}

.group h2 {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  padding-bottom: 4px;
  font-size: 18px;
  margin-top: 12px;
}

input[type="number"], select {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 19px;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  box-shadow: none;
  border-radius: none;
  width: 108px;
  margin-right: 4px;
  padding: 1px 4px;
  border: none;
  background-color: rgba(255,255,255,0.65);
  border-bottom: solid 2px #4a78a6;
  transition: border 0.2s, background 0.2s;
}
input[type="number"]:hover, select:hover {
  outline: none;
  border-bottom: solid 2px #305478;
  background-color: rgba(255,255,255,0.78);
}
input[type="number"]:disabled, input[type="number"]:disabled:hover, select:disabled, select:disabled:hover {
  outline: none;
  color: #444;
  padding: 1px 4px;
  border-bottom: solid 2px transparent;
  background: transparent;
}
input[type="number"]:focus, , select:focus {
  outline: none;
  background-color: rgba(255,255,255,0.95);
  border-bottom: solid 2px #27435f;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-moz-inner-spin-button, 
input[type=number]::inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
input[type=number]::-moz-outer-spin-button, 
input[type=number]::outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  margin: 0; 
}

select {

    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
   background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 10px) 8px,
    calc(100% - 3px) 8px,
    calc(100% - 1em) 0.1em;
  background-size:
    7px 7px,
    7px 7px,
    1px 1em;
  background-repeat: no-repeat;
  transition: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: none;
  height: 4px;
  width: 100%;
}
progress[value]::-webkit-progress-bar  { background-color: #eee; }
progress[value]::-moz-progress-bar     { background-color: #eee; }
progress[value]::progress-bar          { background-color: #eee; }

progress[value]::-webkit-progress-value { background-color: #27435f; color: #27435f; }
progress[value]::-moz-progress-value    { background-color: #27435f; color: #27435f; }
progress[value]::progress-value         { background-color: #27435f; color: #27435f; }


#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: white;
    transition: opacity 0.2s;
    box-sizing: border-box;
}

#loader.hide {
    opacity: 0;
}

#loader.hidden {
    display: none;
}

#hello_message {
    position: fixed;
    top: 50%;
    height: 50px;
    margin-top: -80px;
    text-align: center;
    width: 100%;
}

#loader.error {
    opacity: 1;
    background: rgba(255,255,255,0.65);
    border: 5px solid red;
}

body {
    background: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: black;
}

#title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 58px;
    line-height: 58px;
    margin: 0;
    padding: 12px;
    font-weight: 300;
    text-align: center;
    background: #508CC8;
    color: white;
    white-space: nowrap;
    line-height: 38px;
}

#title .home-link {
  display: block;
  background: rgba(0,0,0,0.25);
  position:fixed;
  top: 0;
  left: 0;
  height: 37px;
  padding: 12px;
}

#title .home-link:hover {
  background: rgba(0,0,0,0.4);
}

.home-link .navigation-arrow-left {
  float: left;
  height: 25px;
  margin-top: 7px;
}
.home-link .navigation-logo {
  float: left;
  height: 25px;
  margin-top: 7px;
}




/* Loader */
.loader,
.loader:before,
.loader:after {
  background: #508cc8;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #508cc8;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


@media screen and (max-width:460px) {
  #title {
    text-align: left;
    font-size: 22px;
    padding-left: 80px;
  }
}
/*@media screen and (max-width:805px) {
  #content {
    height: 260px;
  }
  #controls {
    position: static;
  }
  #info {
    position: static;
    float: left;
    width: 100%;
    font-size: 12px;
    height: auto;
    margin-top: 6px;
    padding-left: 8px;
    border-left: none;
    border-top: 2px solid white;
  }
  #info td, #info td:nth-child(2) {
    padding: 2px;
  }
  #histogram-container {
    top: 260px;
  }
}

@media screen and (max-width:525px) {
  #content {
    height: 350px;
  }
  #histogram-container {
    top: 350px;
  }
}*/